<!DOCTYPE html>
<html>
	<head>
		<title>Sinatra + Twitter Bootstrap</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="/vendor/jquery-1.9.1.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/jquery.simplecolorpicker.css">
		<script src="/jquery.datetimepicker.js"></script>
		<link rel="stylesheet" href="/jquery.datetimepicker.css">
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	</head>
	<body>
		<div class="container">

			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">Pupcin Clinika</a>
			  </div>
			  <div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			      <li><a href="/visit">Make appointment</a></li>
			      <li><a href="/bookings">List of appointments</a></li>
			      <li><a href="/contacts">Contacts</a></li>
			    </ul>
			  </div>
			</nav>

			<div>
			      <% if @error && @error.length > 0 then %>
			          <div class="alert alert-danger"><%= @error %></div>
			      <% end %>
			      <%= yield %>
			</div>
		</div>
  </body>
</html>
