<h2>Make appointment</h2>
<p>You can to make appointment here to Pupkin Clinika</p>


<script type="text/javascript">

$(function() {

  $('#datetimepicker').datetimepicker();

});

</script>


<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Your name</label>
    <input name="patient[name]" type="text" class="form-control" placeholder="Enter your name" value="<%= @patient.name %>">
  </div>

  <div class="form-group">
    <label>Your phone</label>
    <input name="patient[phone]" type="text" class="form-control" placeholder="Enter your phone" value="<%= @patient.phone %>">
   </div>

  <div class="form-group">
    <label>Appointment date</label>
    <input id="datetimepicker" name="patient[datestamp]" type="text" class="form-control" placeholder="Enter appointment date" value="<%= @patient.datestamp %>">
  </div>

  <div class="form-group">
    <label>Your doctor:</label>
    <select name="patient[doctor]" class="form-control">
        <% @doctors.each do |doctor| %>
        <option <%= @doctor == doctor['name'] ? 'selected' : '' %>><%= doctor['name'] %></option>
      <% end %>

    </select>
  </div>

  <button type="submit" class="btn btn-primary">Appointment</button>

</form>
